<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portfolio</title>
	<link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="./static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/styles.css" rel="stylesheet">
</head>

<body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>Omar Khalifa</h1>
            <h2>Software Engineer</h2>
            <a href="https://drive.google.com/file/d/17Z1cGIAT4f_czxZ3rFg6ZOh3vCV5hdhe/view?usp=sharing" class="btn-rounded-white">Download Resume</a>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        An automation engineer with 2+ demonstrative experiences in SCADA, Linux, Robust and Power systems through participating in massive national and international projects for developing and improving SCADA/EMS systems and managing projects to develop, maintain and improve HW/SW. In this role, I provide leadership to two colleagues and manage client relationships.
With knowledge of bunch programming and scripting languages such as C, C++, Python, SQL, Bash and Shell script that oriented for software developing.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">
        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
            <div data-date="December 2021 – Present">
                <h3>NARI Technology Co. Ltd,</h3>
                <h4>Software Engineer</h4>
                <p>
                    System software developing and maintenance, including running status evaluation of all operating systems, databases and application systems.
Software variances locating and fixing in order to
verify compliance of FAT and SAT stages.
Manage, coordinate, and implement software upgrades, patches, hot fixes on servers, workstations, and network hardware.
Create and modify scripts or applications to perform tasks which oriented for Software developing.
Design, Installing, configuring, and troubleshooting network devices such as switches, workstations and firewalls.
                </p>
            </div>

            <div data-date="March 2020 – September 2020">
                <h3>Sinumeric</h3>
                <h4>Software Engineer</h4>
                <p>
                    Developing PLC and HMI/SCADA software for customer orders and new machines, Development of new blocks, new libraries in PLC, software development in HMI/SCADA, Troubleshooting and testing at customer site during service and commissioning. Project execution and
co-ordination.
                </p>
            </div>

        </div>
    </div>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>Egyptian Academy for Engineering</h3>
            <span class="education-date">September 2015 - September 2020</span>
            <h4>Bachelor of Mechatronics Engineering</h4>
            <p>
                Graduated with a very good degree in Mechatronics Engineering.

            </p>
        </div>
        <!-- End .education-block -->

    </div>
    <!-- End #education -->

    <div id="projects" class="background-alt">
        <h2 class="heading">Projects</h2>
        <div class="container">
            <div class="row">
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="./static/images/project.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Upgrade Cairo Regional Control Centre (CRCC)</h3>
                        <p>
                            The project aims to deploying SCADA/EMS System in Cairo Regional Control Centre to allow monitoring and controlling electric equipment for 220/66 substations which covers all great Cairo. The project combines three main allies NARI, Huawei and Sweedy, NARI is considered the main partner in the alliance.
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->

                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="./static/images/project.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Forest fires detector application; NASA Space Apps</h3>
                        <p>
                           Creating a Python Desktop application that can detect the possibility of forest fires occurrence in any area around the world.
                        </p>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="./static/images/project.jpg" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>Library system software</h3>
                        <p>
                           A library management system is used to maintain library records. It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.
The system was designed using Python, Qt, postgres, etc.
                        </p>
 
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
            </div>
        </div>
    </div>
    <!-- End #projects -->

    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            <li>Python</li>
	    <li>Django</li>
	    <li>Flask</li>
            <li>Linux (RHEL)</li>
            <li>C</li>
            <li>C++</li>
            <li>Bash Scripting</li>
            <li>SCADA/HMI</li>
            <li>SQL</li>
	    <li>Networksystems</li>
	    <li>Ladder programming</li>


        </ul>
    </div>
    <!-- End #skills -->

    <div id="contact">
        <h2>Get in Touch</h2>
        <div id="contact-form">
            <form action="submit" method="post" class="reveal-content">
                <input type="hidden" name="hide" placeholder="subject"  />
                <input type="email" name="email" placeholder="Your email" required>
                <input type="text" name="subject" placeholder="Your message">
                <button class="log_btn" role="button" type="submit">Send</button>
            </form>
        </div>
        <!-- End #contact-form -->
    </div>
    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; <span id="current-year">2023</span> Omar Khalifa
                    </p>
                </div>
                <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./static/js/scripts.min.js"></script>
</body>

</html>
